@font-face {
    font-family: 'Adani-Regular';
    src: url('./assets/fonts/Adani-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Adani-Bold';
    src: url('./assets/fonts/Adani-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Adani-Medium';
    src: url('./assets/fonts/Adani-Medium.ttf') format('truetype');
}

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Modular Scale(base:16px/1em) - Headings */
    --text-H1: 50.52px;
    --text-H2: 37.90px;
    --text-H3: 28.43px;
    --text-H4: 21.33px;
    --text-H5: 16.00px;
    --text-H6: 12.00px;

    /* Colors */
    --clr-prim: #2F80ED;
    --clr-prim-dark: #0b5ed7;
    --clr-sec: #17b677;
    --clr-black: #000000;
    --clr-white: #FFFFFF;
    --clr-danger: #dc3545;
    --clr-disabled: #BDBDBD;
    --clr-grey: #E0E0E0;
    --clr-black-alpha: rgba(0,0,0,0.1);

    /* font-family */
    --adani-regular : 'Adani-Regular';
    --adani-bold: 'Adani-Bold';
    --adani-medium: 'Adani-Medium';
}

html,body {
    font-family: var(--adani-regular);
    font-size: 62.5%;
}

body {
    font-family: var(--adani-regular);
}

input,
select {
    font-size: var(--text-H5);
    outline: none;
    cursor: pointer;
}

/* General Classes */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.jc-spbt {
    justify-content: space-between;
}

.jc-cntr {
    justify-content: center;
}

.ai-cntr {
    align-items: center;
}

.m-l-10 {
    margin-left: 1rem;
}

.m-r-10 {
    margin-right: 1rem;
}
/* ------------------------------ */
/* Bootstrap Override Styles */
.btn {
    font-size: 1.6rem;
}

p {
    margin-bottom: 0;
}
/* ----------------------------- */

/* Navigation Styles */
.menu {
    padding: 0.5rem 2rem;
}

.hamburger-menu {
    width: 24px;
    height: 24px;
    fill: var(--clr-black);
}

.logo {
    height: 50px;
}

.company{
    font-size: var(--text-H3);
    font-weight: bold;
}

.profile-name {
    font-size: var(--text-H5);
}

.header-image img {
    width: 100%;
    height: 100px;
}
/* --------------------------- */

/* Footer Styles */
footer,
.footer {
    background-color: var(--clr-prim);
    padding: 1rem 2rem;
    color: var(--clr-white);

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.software-version{
    font-weight: bold;
    font-size: var(--text-H5);
    margin-bottom: 0;
}

footer p,
.footer p {
    font-size: var(--text-H6);
    margin-bottom: 0;
}

.anchor {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.anchor:hover {
    color: var(--clr-black);
    font-weight: bold;
}
/* -------------------------- */

/* Heading Tab for Body */
.body-menu {
    padding: 1rem 2rem;
    position: relative;
}

.body-heading {
    font-size: var(--text-H3);
    font-family: var(--adani-medium);
    font-weight: bold;
}

::-webkit-calendar-picker-indicator {
    background-image: 
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%232F80ED" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

input[type="text"],
input[type="date"],
input[type="password"] {
    border: none;
    font-family: var(--adani-regular);
    font-size: var(--text-H5);
    outline: none;
    cursor: pointer;
}

.input-outline {
    border: 3px solid var(--clr-prim);
    border-radius: 0.5rem;
    width: 20rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.input-icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: var(--clr-prim);
}

.input-icon--arrow {
    height: 15px;
    width: 15px;
    fill: none;
    stroke: var(--clr-prim);
    stroke-width: 4;
    stroke-linecap: round;
}

.w-90-perc {
    width: 90%;
}

.input-save {
    border: 1px solid var(--clr-prim);
    background-color: var(--clr-prim);
    padding: 1rem 2rem;
    font-size: var(--text-H5);
    color: var(--clr-white);
    font-family: var(--adani-regular);
    letter-spacing: 3px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    cursor: pointer;
    text-transform: uppercase;
}

.input-save:hover {
    background-color: var(--clr-white);
    border: 1px solid var(--clr-prim);
    color: var(--clr-prim);
}

.input-outline:hover {
    border: 3px solid var(--clr-prim);
}

/* Body-Main Container (tables & Data) Styles */
.body-container {
    font-size: var(--text-H5);
}

.body-outline {
    border: 3px solid var(--clr-prim);
    border-radius: 10px;
    margin: 0 2rem;
    height: calc(100vh - 350px);
    position: relative;
}

table {
    width: 100%;
    border-spacing: 0.5rem;
    border-collapse: unset;
    font-size: var(--text-H5);
}

th {
    background-color: var(--clr-prim);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--clr-white);
    font-weight: normal;
    text-align: center;
}

td {
    border: 1px solid var(--clr-prim);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

td:last-child {
    text-align: center;
}

.action-icon {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}

.add-btn {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--clr-prim);
    border-radius: 50%;
    border: 2px solid var(--clr-white);
    filter: drop-shadow(12px 12px 24px rgba(0, 0, 0, 0.1));
    fill: var(--clr-white);
    cursor: pointer;

    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.add-btn:hover {
    background-color: var(--clr-white);
    border: 2px solid var(--clr-prim);
    fill: var(--clr-prim);
}

.input-outline--selectBtn {
    padding: 0.9rem 1rem;
    outline: none;
    color: var(--clr-prim);
}

.input-outline--selectBtn option {
    color: var(--clr-prim-dark);
}

/* overriding Bootstrap Styles */
.form-select {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 3px solid var(--clr-prim);
    color: grey;
    font-size: var(--text-H5);
    border-radius: 5px;
}

.form-select option {
    color: var(--clr-prim-dark);
}

.w-150px {
    width: 170px;
}

.text-center {
    text-align: center;
}

.alert-success {
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: var(--text-H5);
    text-align: center;
}

.circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--clr-grey);
    border: 1px solid var(--clr-disabled);
}

.general-list {
    width: 40%;
}

.page-link {
    font-size: var(--text-H5);
    padding: 1rem 2rem;
}

.page-navigation {
    margin-top: 10px;
}

.transform-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Masters Styles */
#Masters {
    height: calc(100vh - 210px);
}

.cms-header {
    margin: 1rem 5rem;
}

.input-custom-border {
    width: 200px;
    height: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid var(--clr-prim);
    border-radius: 5px;
}

.custom-border{
    border: 1px solid var(--clr-prim);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.input-reset {
    border: none;
}

.filter-container {
    width: 100%;
    height: 20px;
    background-color: var(--clr-grey);
    margin-top: 4px;
    border-radius: 10px;
}

.filter-item {
    font-size: var(--text-H6);
    font-family: var(--adani-medium);
    border: 1px solid var(--clr-prim);
    padding: 0 1rem;
    border-radius: 5px;
    color: var(--clr-prim);
}

.master-body {
    height: calc(100vh - 310px);
    margin: 0 5rem;
    border: 2px solid var(--clr-prim);
    border-radius: 5px;
}

.master-table {
    width: 100%;
    height: calc(100vh - 370px);
}

.seprator {
    height: 3px !important;
    background-color: var(--clr-prim);
    color: var(--clr-prim);
    margin: 0 1rem;
}

.cms-footer {
    margin: 0 1rem;
}

.pagination {

}

.pagination-btn {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: rgba(196, 196, 196, 0.05);
    border: 1px solid rgba(196, 196, 196, 0.5);
}

.pagination p,
.previous-btn p {
    font-family: var(--adani-bold);
    letter-spacing: 1.5px;
    font-size: var(--text-H5);
}

.left-arrow {
    transform: rotate(90deg);
}

.right-arrow {
    transform: rotate(270deg);
    stroke: var(--clr-black);
}

.disabled {
    stroke: var(--clr-disabled);
    color: var(--clr-disabled);
}

.active {
    background-color: var(--clr-prim);
    color: var(--clr-white);
}

.btn-add {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--clr-prim);
    border: 2px solid var(--clr-white);
    box-shadow: 12px 12px 24px 0px var(--clr-black-alpha);
}
/* ---------------------------------------- */

.cms-body {
    height: calc(100vh - 180px);
    margin: 0 5rem;
    border: 2px solid var(--clr-sec);
    border-radius: 5px;
}

.cms-table {
    height: calc(100vh - 240px);
}

.seprator--sec,
.active--sec,
.cms-table table th {
    background-color: var(--clr-sec);
}

.custom-checkbox {

}

.checkbox {
    
}

/* Login Styles */
.login-container {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/DSC_0214.JPG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.overlay {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
}

.logo-container {
    height: 70px;
    margin-left: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-container img {
    height: 100%;
}

.login-credentials {
    width: 400px;
    height: 400px;
    margin-left: 100px;
    padding: 2rem;
    background: radial-gradient(100% 98.68% at 0% 0%, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.42) 100%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    backdrop-filter: blur(10px);
}

.mineshot-logo {
    font-family: var(--adani-bold);
    font-size: var(--text-H3);
    letter-spacing: 1.5px;
    background: linear-gradient(to right, #097da9 0%, #823996 50%, #bb3764 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.login-form {
    padding: 1rem;
    width: 100%;
}

.login-form div input {
    width: 100%;
}

.login-box-outline {
    padding: 1rem;
    border: 2px solid var(--clr-prim);
    border-radius: 5px;
    background: var(--clr-white);
}

.btn-login{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--adani-medium);
    font-size: var(--text-H5);
    box-shadow: 12px 12px 24px var(--clr-black-alpha);
}

.forgot-password {
    font-size: var(--text-H5);
    text-decoration: none;
    font-family: var(--adani-bold);
    text-shadow: 5px 5px 15px var(--clr-prim);
    letter-spacing: 1.5px;
    color: var(--clr-prim-dark);
}

.forgot-password:hover {
    color: var(--clr-prim);
}

.error-container {
    font-size: var(--text-H6);
    background: var(--clr-danger);
    color: var(--clr-white);
    padding: 0.2rem 0.6rem;
    border-radius: 0 0 10px 10px;
}
/* -------------------------------------- */


.hide {
    position: absolute;
    left: -9999px;
}