@font-face {
    font-family: 'adani-regular';
    src: url('./assets/fonts/adani-regular.woff2') format('woff2');
}

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Modular Scale(base:16px/1em) - Headings */
    --text-H1: 50.52px;
    --text-H2: 37.90px;
    --text-H3: 28.43px;
    --text-H4: 21.33px;
    --text-H5: 16.00px;
    --text-H6: 12.00px;

    /* Colors */
    --clr-prim: #2F80ED;
    --clr-prim-dark: #000000;
    --clr-sec: #17b677;
    --clr-black: #000000;
    --clr-white: #FFFFFF;
    --clr-disabled: #BDBDBD;
    --clr-grey: #E0E0E0;
}

html,body {
    font-family: 'adani-regular';
    font-size: 62.5%;
}

/* General Classes */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.jc-spbt {
    justify-content: space-between;
}

.jc-cntr {
    justify-content: center;
}

.ai-cntr {
    align-items: center;
}

.m-l-10 {
    margin-left: 1rem;
}

.m-r-10 {
    margin-right: 1rem;
}
/* ----------------------------- */

/* Navigation Styles */
.menu {
    padding: 0.5rem 2rem;
}

.hamburger-menu {
    width: 24px;
    height: 24px;
    fill: var(--clr-black);
}

.logo {
    height: 50px;
}

.company{
    font-size: var(--text-H3);
    font-weight: bold;
}

.profile-name {
    font-size: var(--text-H5);
}

.header-image img {
    width: 100%;
    height: 100px;
}
/* --------------------------- */

/* Footer Styles */
footer {
    background-color: var(--clr-prim);
    padding: 1rem 2rem;
    color: var(--clr-white);

    position: absolute;
    bottom: 0;
    width: 100%;
}

.software-version{
    font-weight: bold;
    font-size: var(--text-H5);
    margin-bottom: 0;
}

footer p {
    font-size: var(--text-H6);
    margin-bottom: 0;
}

.anchor {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.anchor:hover {
    color: var(--clr-black);
    font-weight: bold;
}
/* -------------------------- */

/* Heading Tab for Body */
.body-menu {
    padding: 1rem 2rem;
    position: relative;
}

.body-heading {
    font-size: var(--text-H3);
    font-weight: bold;
}

::-webkit-calendar-picker-indicator {
    background-image: 
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%232F80ED" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

input[type="text"],
input[type="date"] {
    border: none;
    font-family: 'adani-regular';
    font-size: var(--text-H5);
    outline: none;
    cursor: pointer;
}

.input-outline {
    border: 3px solid var(--clr-prim);
    border-radius: 0.5rem;
    width: 20rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.input-icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: var(--clr-prim);
}

.input-icon--arrow {
    height: 15px;
    width: 15px;
    fill: none;
    stroke: var(--clr-prim);
    stroke-width: 4;
    stroke-linecap: round;
}

.w-90-perc {
    width: 90%;
}

.input-save {
    border: 1px solid var(--clr-prim);
    background-color: var(--clr-prim);
    padding: 1rem 2rem;
    font-size: var(--text-H5);
    color: var(--clr-white);
    font-family: 'adani-regular';
    letter-spacing: 3px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    cursor: pointer;
    text-transform: uppercase;
}

.input-save:hover {
    background-color: var(--clr-white);
    border: 1px solid var(--clr-prim);
    color: var(--clr-prim);
}

.input-outline:hover {
    border: 3px solid var(--clr-prim);
}

/* Body-Main Container (tables & Data) Styles */
.body-container {
    font-size: var(--text-H5);
}

.body-outline {
    border: 3px solid var(--clr-prim);
    border-radius: 10px;
    margin: 0 2rem;
    height: calc(100vh - 350px);
    position: relative;
}

table {
    width: 100%;
    border-spacing: 0.5rem;
    border-collapse: unset;
    font-size: var(--text-H5);
}

th {
    background-color: var(--clr-prim);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--clr-white);
    font-weight: normal;
    text-align: center;
}

td {
    border: 1px solid var(--clr-prim);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

td:last-child {
    text-align: center;
}

.action-icon {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}

.add-btn {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--clr-prim);
    border-radius: 50%;
    border: 2px solid var(--clr-white);
    filter: drop-shadow(12px 12px 24px rgba(0, 0, 0, 0.1));
    fill: var(--clr-white);
    cursor: pointer;

    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.add-btn:hover {
    background-color: var(--clr-white);
    border: 2px solid var(--clr-prim);
    fill: var(--clr-prim);
}

.input-outline--selectBtn {
    padding: 0.9rem 1rem;
    outline: none;
    color: var(--clr-prim);
}

.input-outline--selectBtn option {
    color: var(--clr-prim-dark);
}

.hide {
    position: absolute;
    left: -9999px;
}

/* overriding Bootstrap Styles */
.form-select {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 3px solid var(--clr-prim);
    color: grey;
    font-size: var(--text-H5);
    border-radius: 5px;
}

.form-select option {
    color: var(--clr-prim-dark);
}

.w-150px {
    width: 170px;
}

.text-center {
    text-align: center;
}

.alert-success {
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: var(--text-H5);
    text-align: center;
}

.circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--clr-grey);
    border: 1px solid var(--clr-disabled);
}

.general-list {
    width: 40%;
}

.page-link {
    font-size: var(--text-H5);
    padding: 1rem 2rem;
}

.page-navigation {
    margin-top: 10px;
}

.transform-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}