@font-face {
    font-family: 'adani-regular';
    src: url('./assets/fonts/adani-regular.woff2') format('woff2');
}

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Modular Scale(base:16px/1em) - Headings */
    --text-H1: 50.52px;
    --text-H2: 37.90px;
    --text-H3: 28.43px;
    --text-H4: 21.33px;
    --text-H5: 16.00px;
    --text-H6: 12.00px;

    /* Colors */
    --clr-prim: #2F80ED;
    --clr-prim-dark: #000000;
    --clr-sec: #17b677;
    --clr-black: #000000;
    --clr-white: #FFFFFF
}

html {
    font-family: adani-regular;
    font-size: 62.5%;
}

/* General Classes */
.flex {
    display: flex;
}

.jc-spbt {
    justify-content: space-between;
}

.ai-cntr {
    align-items: center;
}

.m-l-10 {
    margin-left: 1rem;
}

.m-r-10 {
    margin-right: 1rem;
}

.icon {
    width: 24px;
    height: 24px;
    fill: var(--clr-black);
}

.anchor {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
/* ----------------------------- */

/* Navigation Styles */
nav {
    padding: 1rem 2rem;
}

.logo {
    height: 50px;
}

.company{
    font-size: var(--text-H3);
    font-weight: bold;
}

.profile-name {
    font-size: var(--text-H5);
}
/* --------------------------- */

/* Footer Styles */
footer {
    background-color: var(--clr-prim);
    padding: 1rem 2rem;
    color: var(--clr-white);
}

.software-version{
    font-weight: bold;
    font-size: var(--text-H5);
}

footer p {
    font-size: var(--text-H6);
}